---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Fragment slot="main">
		<h1>About page</h1>

		<p>
			A diam sollicitudin tempor id eu nisl nunc mi? Blandit aliquam etiam erat
			velit, scelerisque in dictum non, consectetur a erat nam at lectus urna
			duis convallis convallis tellus, id.
		</p>
	</Fragment>

	<Fragment slot="extra">hello world</Fragment>
</Layout>
