---
import Layout from "../layouts/Layout.astro";
import Hello from "../components/Hello.astro";

let name = "Lee";
let num = 100;

let fruits = ["apple", "orange", "peach"];
---

<Layout>
  <Fragment slot="main">
    <h1>Hello {name}</h1>

    <div>
      {
        fruits.map((fruit) => {
          return <div class="hello">{fruit}</div>;
        })
      }
    </div>

    <Hello age={num} name={name} />
  </Fragment>
</Layout>

<style>
  .hello {
    font-size: 2rem;
    color: red;
  }
</style>

<script>
  console.log("in browser");
</script>
